<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h1 id="fade">Contacto</h1>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="container">
          <h3 class="text-center">Comentarios y Sugerencias</h3>
          <p class="text-left"><em>We love our fans!</em></p>
          <div class="row test">
            <div class="col-md-6">
              <p>Fan? Drop a note.</p>
              <p><span class="glyphicon glyphicon-map-marker"></span>Madrid</p>
              <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
              <p><span class="glyphicon glyphicon-envelope"></span> Email: alejandrita1900@gmail.com</p>


              <br>

              <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>

              <br>

              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
              <br>

              <textarea class="form-control" id="comments" name="comments" placeholder="Comentarios" rows="5"></textarea>
              <hr>
              <div class="row">
                <div class="col-md-12 form-group">
                  <button class="btn pull-right" type="submit">Send</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>