<div class="panel panel-default">
  <div class="panel-heading">
    <!--<img src="{{trabajo.imagenurl}}" alt="" class="img-responsive pull-right">-->
    <h2>{{trabajo.nombre}}</h2>
    <h5>{{trabajo.descripcion}}</h5>
    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" [attr.data-target]="'#myModal'+ trabajo.id">Descripcion</button>
  </div>
</div>

<!-- Modal -->
<div [id]="'myModal' + trabajo.id" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{trabajo.nombre}}</h4>
      </div>
      <div class="modal-body">
        <img src="{{trabajo.imagenurl}}" style="width:100%">
        <p class="text-center">{{trabajo.descripcion}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>